<div class="site-wrapper">
  <div class="site-wrapper-inner">
    
    <div class="cover-container">
      
      <div class="masthead clearfix">
        <div class="inner">

          <h2 class="masthead-brand" align="left"> <img src="https://csoc.cugcr.ca/assets/img/gcr-logo-vector.png" width="80">  CSOC Threat Modeler</h2>

          <nav>
            <ul class="nav masthead-nav">
<!--              <li><a href="cugcr.com">About</a></li> -->
<!--              <li><a href="https://github.com/mozilla/seasponge/wiki">Documentation</a></li>
              <li><a href="https://www.github.com/mozilla/seasponge">Github</a></li> -->
            </ul>
          </nav>
        </div>
      </div>
        
      <div class="inner cover">
<div class="form-group" align="left">

<!-- <img src="https://raw.githubusercontent.com/LTW-GCR-CSOC/csoc-installation-scripts/master/images/GCR-Black.png"> --> 

<!-- <img src="https://csoc.cugcr.ca/assets/img/gcr-logo-vector.png" width="100"> -->

Threat modeling plays an important part in securing your business. Expecialy when it comes to growing fast. Use this tool to model threats to your organizations assets.

</div>


        <p class="lead">Create a Threat Model</p>
        <form role="form" class="create-form">

          <div class="form-group">
            <label for="project-name">Project Title</label>
            <input type="text" class="form-control" id="project-name" 
            placeholder="Project Title" ng-model="title">
          </div>

          <div class="form-group">
            <label for="authors">Business Name</label>
            <input type="text" class="form-control" id="authors" 
            placeholder="Authors" ng-model="authors">
          </div>

          <div class="form-group">
            <label for="version">Version</label>
            <input type="text" class="form-control" id="version" 
            placeholder="Version" ng-model="version">
          </div>

          <div class="form-group">
            <label for="config">Open File</label>
            <input type="file" class="load-form" id="config-file" onchange="angular.element(this).scope().loadFile(this)">
          </div>

          <button type="submit" class="btn btn-default" ng-click="createModel()">Create New Model</button>

        </form>
      </div>

    </div>

  </div>
</div>
