<div class="site-wrapper">
  <div class="site-wrapper-inner">
    
    <div class="cover-container">
      
      <div class="masthead clearfix">
        <div class="inner" align="left">
          <h2 class="masthead-brand" align="left"> Threat Modeler</h2>

<!--          <h3 class="masthead-brand">GCR CSOC - Threat Modeler</h3> -->
<!--          <nav> -->
            <ul class="nav masthead-nav">
<br>

Add description of project here
              
<br>
<div align="center">
<img src="https://raw.githubusercontent.com/LTW-GCR-CSOC/csoc-installation-scripts/master/images/GCRthreatmodel2.png">
</div>
<br> 

<!--              <li><a href="https://github.com/mozilla/seasponge/wiki">Documentation</a></li>--> 
<!--              <li><a href="https://www.github.com/mozilla/seasponge">Github</a></li> -->
            </ul> 
<!--          </nav> -->
        </div>
      </div>
       
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> 
<br>
<br>
<br>
<br>      <div class="inner cover">
        <a type="button" class="btn btn-primary" ng-href="#/create">Create Model</a>
        <a type="button" class="btn btn-primary" ng-href="#/load">Load Model</a>
      </div>


<br>
<br>
<br>
<br>


    </div>

  </div>

</div>

